@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #171717 inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white;
}